<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>OfficeAutomation</display-name>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>
    <filter>
        <filter-name>UserLoginPrivilegeFilter</filter-name>
        <filter-class>com.zdh.web.filter.UserLoginPrivilegeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserLoginPrivilegeFilter</filter-name>
        <url-pattern>/Employee/*</url-pattern>
        <url-pattern>/root/*</url-pattern>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>

    <servlet>
        <display-name>UserServlet</display-name>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.zdh.web.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/userServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>ProjectServlet</display-name>
        <servlet-name>ProjectServlet</servlet-name>
        <servlet-class>com.zdh.web.servlet.ProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProjectServlet</servlet-name>
        <url-pattern>/projectServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>JiediaoServlet</display-name>
        <servlet-name>JiediaoServlet</servlet-name>
        <servlet-class>com.zdh.web.servlet.JiediaoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JiediaoServlet</servlet-name>
        <url-pattern>/jiediaoServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>DesignWorkingServlet</display-name>
        <servlet-name>DesignWorkingServlet</servlet-name>
        <servlet-class>com.zdh.web.servlet.DesignWorkingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DesignWorkingServlet</servlet-name>
        <url-pattern>/designWorkingServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>ProgramingPictureWorkingServlet</display-name>
        <servlet-name>ProgramingPictureWorkingServlet</servlet-name>
        <servlet-class>com.zdh.web.servlet.ProgramingPictureWorkingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProgramingPictureWorkingServlet</servlet-name>
        <url-pattern>/programingPictureWorkingServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>DebugWorkingServlet</display-name>
        <servlet-name>DebugWorkingServlet</servlet-name>
        <servlet-class>com.zdh.web.servlet.DebugWorkingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DebugWorkingServlet</servlet-name>
        <url-pattern>/debugWorkingServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>ManageWorkingServlet</display-name>
        <servlet-name>ManageWorkingServlet</servlet-name>
        <servlet-class>com.zdh.web.servlet.ManageWorkingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageWorkingServlet</servlet-name>
        <url-pattern>/manageWorkingServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>DailyWorkingServlet</display-name>
        <servlet-name>DailyWorkingServlet</servlet-name>
        <servlet-class>com.zdh.web.servlet.DailyWorkingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DailyWorkingServlet</servlet-name>
        <url-pattern>/dailyWorkingServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>PersonalSummaryServlet</display-name>
        <servlet-name>PersonalSummaryServlet</servlet-name>
        <servlet-class>com.zdh.web.servlet.PersonalSummaryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonalSummaryServlet</servlet-name>
        <url-pattern>/personalSummaryServlet</url-pattern>
    </servlet-mapping>

</web-app>
